{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Theatre Marni</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
        ></script>      
  

    </head>


    <body>
  
      <header>
        <!-- Intro settings -->
        <style>
          
          {% block media %}
             /* Default height for small devices */
          #intro-example {
            height: 400px;
          }
      
          /* Height for devices larger than 992px */
          @media (min-width: 992px) {
            #intro-example {
              height: 600px;
            }
          }
          {% endblock media %}
            
         
        </style>
      
      {% block navbar %}
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <img src="https://theatremarni.com/squelettes/img/logo-marni-base.jpg" style="width:10%" alt="logo"><a class="navbar-brand" style="text-center" href="#"></a></img>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <!--<img src="https://theatremarni.com/squelettes/img/logo-marni-base.jpg" style="width:10%" alt="logo"><a class="navbar-brand" style="text-center" href="#"></a></img>-->
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Saisons
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">En Journée</a></li>
                    <li><a class="dropdown-item" href="#">Concerts</a></li>
                    <li><a class="dropdown-item" href="#">Dance/Cirque</a></li>
                    <li><a class="dropdown-item" href="#">Theatres</a></li>
                    <li><a class="dropdown-item" href="#">Enfants</a></li>
                    <li><a class="dropdown-item" href="#">Expo</a></li>
                    <li><a class="dropdown-item" href="#">Events</a></li>
                    <li><a class="dropdown-item" href="#">Intra Muro</a></li>
                    <li><a class="dropdown-item" href="#">Touts</a></li>
                  </ul>
                </li>
            <li class="nav-link" class="text-center">
            Photos
            </li>  
            <li class="nav-link" class="text-center">
              Presentation
              </li>  
         
              </ul>
            </div>
          </div>
        </nav>
{% endblock navbar %}        <!-- Navbar -->
      


    
          
          {% block footer %}
            <div class="sticky-top">

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center border-bottom">

    <!-- Right -->    <!-- Left -->

  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Theatre Marni 
          </h6>
          <p>
            c'est un lieu ou se passe des spectacles de danse, de théâtre, de cirque 
            mais également des concerts de Jazz 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Location</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Accès</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Info techniques</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Archives</a>
          </p>
        </div>

        
        <!-- Grid column -->

              <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><a class="text-reset"href="https://www.google.com/maps/place/Rue+de+Vergnies+25,+1050+Ixelles/@50.8288616,4.3713165,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3c492fe098bad:0x9d2cd243ebae29e8!8m2!3d50.8288616!4d4.3713165" class="text-rese">
            Rue de Vergnies 25, 1050 Bruxelles</a></p>
          <p>      
            info@theatremarni.com</a>
          </p>
                  <p>+32 2 639 09 80</p>
            </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Réseau social</h6>
          <img src="https://img.icons8.com/ios/35/null/facebook-new.png"/>
          <img src="https://img.icons8.com/ios/35/null/twitter--v1.png"/>
          <img src="https://img.icons8.com/ios/35/null/youtube-play--v1.png"/>
          <img src="https://img.icons8.com/ios/35/null/pinterest--v1.png"/>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    
    
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="fixed-bottom  text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold text-center" href="https://mdbootstrap.com/">Theatre Marni</a>
    
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer --></div>
<!--FIN FOOTER-->
          {% endblock footer %}
            

<!--FOOTER-->



        
       
    </body>
</html>