{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Theatre Marni</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet"/>
              
  

    </head>


    <body>
  
      <header>
        <!-- Intro settings -->
        <style>
          /* Default height for small devices */
          #intro-example {
            height: 400px;
          }
      
          /* Height for devices larger than 992px */
          @media (min-width: 992px) {
            #intro-example {
              height: 600px;
            }
          }
        </style>
      
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#navbarExample01"
              aria-controls="navbarExample01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                  <a class="navbar-brand" style="text-center" href="#">Theatre Marni</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Saisons</a>
                </li>
                <li class="nav-item">
                  <!--<a class="nav-link" href="#">Dropdown</a>-->
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->
      
        <!-- Background image -->
        <div
          id="intro-example"
          class="p-5 text-center bg-image"
          style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');"
        >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">Bienvenue au Theatre Marni</h1>
                <h5 class="mb-4">Un lieu ou la création est infini</h5>
                <a
                  class="btn btn-outline-light btn-lg m-2"
                  href="https://www.youtube.com/watch?v=c9B4TPnak1A"
                  role="button"
                  rel="nofollow"
                  target="_blank"
                >Start tutorial</a
                >
                <a
                  class="btn btn-outline-light btn-lg m-2"
                  href="https://mdbootstrap.com/docs/standard/"
                  target="_blank"
                  role="button"
                >Download MDB UI KIT</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
      </header>



    
          

<!--FOOTER-->
<div class="sticky-top">

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center border-bottom">

    <!-- Right -->    <!-- Left -->

  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Theatre Marni 
          </h6>
          <p>
            c'est un lieu ou se passe des spectacles de danse, de théâtre, de cirque 
            mais également des concerts de Jazz 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Location</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Accès</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Info techniques</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Archives</a>
          </p>
        </div>

        
        <!-- Grid column -->

              <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p> Rue de Vergnies 25, 1050 Bruxelles</p>
          <p>
           
            info@theatremarni.com
          </p>
                  <p>+32 2 639 09 80</p>
            </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Réseau social</h6>
          <img src="https://img.icons8.com/ios/35/null/facebook-new.png"/>
          <img src="https://img.icons8.com/ios/35/null/twitter--v1.png"/>
          <img src="https://img.icons8.com/ios/35/null/youtube-play--v1.png"/>
          <img src="https://img.icons8.com/ios/35/null/pinterest--v1.png"/>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    
    
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Theatre Marni</a>
    
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer --></div>
<!--FIN FOOTER-->


        
       
    </body>
</html>