{% include "basic/base.html" %}
{% block card %}

 
<div class="container">

<br>
<br>
<br>


<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
  <div class="card">
    <img src="https://theatremarni.com/local/cache-gd2/bf/a3ceff35ca5c31574802b6a596a4f5.jpg?1674823480" class="card-img-top" alt="Hollywood Sign on The Hill"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        This is a longer card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p> <a href="{% url 'ajouter_au_panier' produit_id=produit.id %}">bonjour<button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
  </div>
</div>

<div class="col">
  <div class="card">
    <img src="https://theatremarni.com/local/cache-gd2/ff/238f697da953ca31bab8d5e2e43a00.jpg?1672330161" class="card-img-top" alt="Palm Springs Road"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        This is a longer card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p> <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card">
    <img src="https://theatremarni.com/local/cache-gd2/d2/2ea5f298f9164d1f187b9552387dd0.jpg?1675161917" class="card-img-top" alt="Los Angeles Skyscrapers"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="container">
<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
<div class="card h-40">
  <img src="https://theatremarni.com/local/cache-gd2/27/0cc83817561b8e3cfa399259b39b29.jpg?1675978493" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
      Buy</button>
    </a>
  </div>
  
</div>
</div>
<div class="col">
<div class="card h-40">
  <img src="https://theatremarni.com/local/cache-gd2/b2/861ca4e36601932d9f7b2a86d5cf78.jpg?1680789952" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
      Buy</button>
    </a>
  </div>
  
</div>
</div>
<div class="col">
<div class="card h-40">
  <img src="https://theatremarni.com/local/cache-gd2/f5/cf139e2699887ea98d6270dafecf21.jpg?1669367634" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
      Buy</button>
    </a>
  </div>
</div>
</div>
</div>

<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
  <div class="card">
    <img src="https://theatremarni.com/local/cache-gd2/bf/a3ceff35ca5c31574802b6a596a4f5.jpg?1674823480" class="card-img-top" alt="Hollywood Sign on The Hill"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
  </div>
</div>

<div class="col">
  <div class="card">
    <img src="https://theatremarni.com/local/cache-gd2/ff/238f697da953ca31bab8d5e2e43a00.jpg?1672330161" class="card-img-top" alt="Palm Springs Road"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card">
    <img src="https://theatremarni.com/local/cache-gd2/d2/2ea5f298f9164d1f187b9552387dd0.jpg?1675161917" class="card-img-top" alt="Los Angeles Skyscrapers"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
       <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="container">
<br>
<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
<div class="card h-40">
  <img src="https://theatremarni.com/local/cache-gd2/27/0cc83817561b8e3cfa399259b39b29.jpg?1675978493" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
      Buy</button>
    </a>
  </div>
  
</div>
</div>
<div class="col">
<div class="card h-40">
  <img src="https://theatremarni.com/local/cache-gd2/b2/861ca4e36601932d9f7b2a86d5cf78.jpg?1680789952" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
      Buy</button>
    </a>
  </div>
</div>

  <div class="container">

</div>
</div>
<div class="col">
<div class="card h-40">
  <img src="https://theatremarni.com/local/cache-gd2/f5/cf139e2699887ea98d6270dafecf21.jpg?1669367634" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
      Buy</button>
    </a>
  </div>
</div>
</div>
</div>
</div>

</div>
<br>
<br>

<div class="container">
  <br>
  <br>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
  <div class="card h-40">
    <img src="https://theatremarni.com/local/cache-gd2/27/0cc83817561b8e3cfa399259b39b29.jpg?1675978493" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
    
  </div>
  </div>
  <div class="col">
  <div class="card h-40">
    <img src="https://theatremarni.com/local/cache-gd2/b2/861ca4e36601932d9f7b2a86d5cf78.jpg?1680789952" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
  </div>
  </div>
  <div class="col">
  <div class="card h-40">
    <img src="https://theatremarni.com/local/cache-gd2/f5/cf139e2699887ea98d6270dafecf21.jpg?1669367634" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
  </div>
  </div>
</div>
</div>


  <div class="container">
  <br>
  <br>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
  <div class="card h-40">
    <img src="https://theatremarni.com/local/cache-gd2/27/0cc83817561b8e3cfa399259b39b29.jpg?1675978493" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
    
  </div>
  </div>
  <div class="col">
  <div class="card h-40">
    <img src="https://theatremarni.com/local/cache-gd2/b2/861ca4e36601932d9f7b2a86d5cf78.jpg?1680789952" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>
    </div>
  </div>
  </div>
  <div class="col">
  <div class="card h-40">
    <img src="https://theatremarni.com/local/cache-gd2/f5/cf139e2699887ea98d6270dafecf21.jpg?1669367634" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

      <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
        Buy</button>
      </a>

    </div>
  </div>
  </div>
</div>
</div>

 
<div class="container">
  <a href="catalogue.html" class="h5">See More</a>
</div>
<br>

{% endblock card %}
