{% extends "base.html" %}
{% load static %}

{% block title %}
<h1 class="text-center"><b>THEATRE MARNI</h1></b>
{% endblock title %}

<div class="p-3 mb-2 bg-success text-white">.bg-success</div>


{% block texte %}
<p><i>Scène interdisciplinaire au coeur de Bruxelles

Depuis une vingtaine d’années, le Marni déploie une programmation abondante et ouverte sur tous les arts de la scène : théâtre, danse et cirque contemporains, jazz, arts plastiques.
Une offre qui se décline pour le jeune public, à chaque pause scolaire.
Le jazz y est chez lui, sur la scène intimiste du bar ou dans la salle en amphithéâtre, où le rapport scène - public est la cerise sur la gâteau !
Actif localement et grâce à un solide réseau de partenariats, le Marni est une balise bruxelloise et en Fédération Wallonie-Bruxelles, autant qu’un espace important pour les artistes qui y viennent chaque semaine en résidence. Un lieu à taille humaine, tout comme sa philosophie, au service des artistes et du public.
Saison 2022-23

C’est avec une trentaine de spectacles, concerts et festivals que le Marni entame une nouvelle saison dont les racines se trouvent plus d’une fois au coeur d’histoires de vie d’ici et d’ailleurs. Elle sera particulièrement fournie du côté de la danse avec deux festivals et deux créations et des incursions de cirque d’objet, de jonglerie. Il y aura aussi deux créations théâtre, des reprises et une multitude de notes de jazz de l’automne au printemps, en passant aussi par deux festivals.

Chaque pause scolaire sera l’occasion de se retrouver autour d’un spectacle et d’une crêpe. D’ailleurs, chaque pilier de la maison a sa version "junior" : le théâtre, la danse, le cirque ainsi que le jazz.
La saison nous invite à rester alerte et à ouvrir le champ visuel et émotionnel.

Direction artistique Joëlle Keppenne

Le Marni fait partie des points de dépôt de la Plateforme Citoyenne de Soutien aux Réfugiés à Ixelles. Les dons peuvent être déposés du lundi au vendredi de 10:00 à 12:30 et de 15:00 à 17:00, ainsi que soirs de représentations. Contact : BXLRefugees

Le Marni reçoit le soutien du Ministère de la Fédération Wallonie-Bruxelles, du Service Public Francophone Bruxellois - Commission Communautaire Française, de la Loterie Nationale. Avec le soutien du Bourgmestre, de l’Echevin de la Jeunesse, de l’Echevin de la Culture et des Membres du Collège des Bourgmestre et Echevins d’Ixelles.
Il fait partie du Réseau de Scènes Chorégraphiques et du Réseau des Arts Bruxellois RAB/BKO et est membre de la FEAS.
<p></i>
{% endblock texte %}


<ul>
<li class="nav-link" class="text-center">EQUIPE</li>
<li class="nav-link" class="text-center">CONSEIL D’ADMINISTRATION</li>
<li class="nav-link" class="text-center">PARTENAIRES</li>
</ul>