{% include "basic/base.html" %}

{% block title %}
<br>
<br>
<br>
<h1 class="text-center">THEATRE MARNI</h1>
<br>
<br>

{% endblock title %}
{% block text %}
<div class="container">
    Scène interdisciplinaire au coeur de Bruxelles

Depuis une vingtaine d’années, le Marni déploie une programmation abondante et ouverte sur tous les arts de la scène : théâtre, danse et cirque contemporains, jazz, arts plastiques.
Une offre qui se décline pour le jeune public, à chaque pause scolaire.
Le jazz y est chez lui, sur la scène intimiste du bar ou dans la salle en amphithéâtre, où le rapport scène - public est la cerise sur la gâteau !
Actif localement et grâce à un solide réseau de partenariats, le Marni est une balise bruxelloise et en Fédération Wallonie-Bruxelles, autant qu’un espace important pour les artistes qui y viennent chaque semaine en résidence. Un lieu à taille humaine, tout comme sa philosophie, au service des artistes et du public.
Saison 2022-23

C’est avec une trentaine de spectacles, concerts et festivals que le Marni entame une nouvelle saison dont les racines se trouvent plus d’une fois au coeur d’histoires de vie d’ici et d’ailleurs. Elle sera particulièrement fournie du côté de la danse avec deux festivals et deux créations et des incursions de cirque d’objet, de jonglerie. Il y aura aussi deux créations théâtre, des reprises et une multitude de notes de jazz de l’automne au printemps, en passant aussi par deux festivals.

Chaque pause scolaire sera l’occasion de se retrouver autour d’un spectacle et d’une crêpe. D’ailleurs, chaque pilier de la maison a sa version "junior" : le théâtre, la danse, le cirque ainsi que le jazz.
La saison nous invite à rester alerte et à ouvrir le champ visuel et émotionnel.


Le Marni fait partie des points de dépôt de la Plateforme Citoyenne de Soutien aux Réfugiés à Ixelles. Les dons peuvent être déposés du lundi au vendredi de 10:00 à 12:30 et de 15:00 à 17:00, ainsi que soirs de représentations. Contact : BXLRefugees

Le Marni reçoit le soutien du Ministère de la Fédération Wallonie-Bruxelles, du Service Public Francophone Bruxellois - Commission Communautaire Française, de la Loterie Nationale. Avec le soutien du Bourgmestre, de l’Echevin de la Jeunesse, de l’Echevin de la Culture et des Membres du Collège des Bourgmestre et Echevins d’Ixelles.
Il fait partie du Réseau de Scènes Chorégraphiques et du Réseau des Arts Bruxellois RAB/BKO et est membre de la FEAS.

<br>
<br>
<br>
<br>

<p>
   

<h3>EQUIPE:</h3>
<br>
<br>
<!--<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>.-->





  </p>
    <p><u><b>Direction Artistique</u>:</b> Joëlle Keppenne</p>
    <p><u><b>Programmation et direction</u>:</b> Joëlle KEPPENN<p>
    <p><u><b>Presse, promotion</u>:</b> Marie-Charlotte CAU<p>
    <p><u><b>Relations publiques</u>:</b> Virginie RO<p>
    <p><u><b>Directeur technique</u>:</b> Paulo MUACHO VILHALV<p>
    <p><u><b>Bar</u> :</b> Nathalie BLOCK<p>
    <p><u><b>Régie</u> :</b> Mathias GUILMI<p>
    <p><u><b>Stagiaires</u>:</b> régie IFAPME Ines CAVACO, Solal FLAHAU<p>
    <p><u><b>Stagiaire</u>:</b> Régie mobile pour la Culture John CARVAJA<p>

    <p><u><b>Free lance</u>:</b> <ul>
        <li>Cédric ALEN</li>
        <li>Martin DELVAL</li>
        <li> Dominique MAERTENS</li>
        <li>Yvon PRIMO</li>
        <li>Pascal SNOEK</li>
        <li>Seb VAN HOE</li>
       
    </ul>
    <p><u><b>Maintenance</u>:</b> Madge NYANG<p>
    <p><u><b>Graphisme</u>:</b> Dirk Studio, Camille Balsea<p>



<ul>
   
    <li>Article 27</li>
    <li>KULT XL</li>
    <li>Jazz Station</li>
    <li>Maison des Cultures de Molenbeek</li>
    <li>Pierre de Lune Centre Scénique Jeunes Publics de Bruxelles</li>
    <li>Le Senghor</li>
    <li>Les Lundis d’Hortense</li>
    <li>Musiques et Recherches</li>
    <li>Festival Musiq’3</li>
    <li>Régie mobile pour la Culture</li>
    <li>Colette, Haute Culture</li>
    <li>Sabam</li>
    <li>Sabam</li>
    <li>Westmalle</li>
</ul>

<p><b>Président:</b> Ali SERGHINI</P>
<p><b>Trésorier:</b> Jean-Louis MOORTGAT. </P>
<p><b>Administrateurs / Administratrices :</b>

    <ul>
        <li>Olivier DEGRYSE</li>
        <li>Minhgiang DOTHI</li>
        <li>Pierre HOLEMANS</li>
        <li>Jean LECLERC</li>
        <li>Nadine RENQUET</li>

    </ul>

</p>

{% endblock %}