<footer class="fixed-bottom text-center text-lg-start bg-light text-muted h-0">
    <section class="justify-content-center border-bottom">
  
    </section>
    
      <div class="container text-center text-md-start mt-5">
        <Grid row>
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Theatre Marni 
            </h6>
            <p>
              c'est un lieu ou se passe des spectacles de danse, de théâtre, de cirque 
              mais également des concerts de Jazz 
            </p>
          </div>
  
  
      
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset mb-5">Location</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Accès</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Info techniques</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Archives</a>
            </p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><a class="text-reset"href="https://www.google.com/maps/place/Th%C3%A9%C3%A2tre+Marni/@50.8288616,4.3713165,17z/data=!4m15!1m8!3m7!1s0x47c3c492fe098bad:0x9d2cd243ebae29e8!2sRue+de+Vergnies+25,+1050+Ixelles!3b1!8m2!3d50.8288616!4d4.3713165!16s%2Fg%2F11b8v6v6v3!3m5!1s0x47c3c493006168d1:0x98c1d341cf54ba4f!8m2!3d50.8289144!4d4.3714544!16s%2Fg%2F121n9rcb" class="text-rese">
              Rue de Vergnies 25, 1050 Ixelles</a></p>
            <p>      
              info@theatremarni.com</a>
            </p>
                    <p>+32 2 639 09 80</p>
              </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Réseau social</h6>
            <img src="https://img.icons8.com/ios/35/null/facebook-new.png" href="https://www.facebook.com/theatre.marni.page"/>
            <img src="https://img.icons8.com/ios/35/null/twitter--v1.png" href="https://twitter.com/TheatreMarni"/>
            <img src="https://img.icons8.com/ios/35/null/youtube-play--v1.png" href="https://www.youtube.com/@theatremarni1083"/>
            <img src="https://img.icons8.com/ios/35/null/instagram-new--v1.png" href="https://www.instagram.com/theatremarni/"/>
          </div>
        </div>
      </div>
    </div>
      
      
    </section>
  
      <section class="d-flex justify-content-center border-bottom">
  
  
    </section>
    <div class="absolute-bottom text-center p-6" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold text-center" href="https://mdbootstrap.com/">Theatre Marni</a>
      
    </div>
  </div>
  </footer>
  </div>