<head>
</head>
<body>
  <div class="offcanvas offcanvas-end" id="demo">
    <div class="offcanvas-header">
      <h4>CARD : </h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
  </div>
  
{% if request.user.is_authenticated %}
    
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    
    <div class="container">
      <img src="https://theatremarni.com/squelettes/img/logo-marni-base.jpg" style="width:10%" alt="logo"><a class="navbar-brand" style="text-center" href="#"></a></img>

  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <a class="navbar-brand mt-2 mt-lg-0" href="#">

        </a>

        <div class="dropdown">
  

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" href="catalogue">Catalogue</a>
          
            <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">recently</a></li>
              <li><a class="dropdown-item" href="#">En Journée</a></li>
              <li><a class="dropdown-item" href="#">Concerts</a></li>
              <li><a class="dropdown-item" href="#">Dance/Cirque</a></li>
              <li><a class="dropdown-item" href="#">Theatres</a></li>
              <li><a class="dropdown-item" href="#">Enfants</a></li>
              <li><a class="dropdown-item" href="#">Expo</a></li>
              <li><a class="dropdown-item" href="#">Events</a></li>
              <li><a class="dropdown-item" href="#">Intra Muro</a></li>
              <li><a class="dropdown-item" href="#">Touts</a></li>
            </ul>
          </li>-->


      <a href="photos"><li class="nav-link">
      Photos
      </li></a>  
      <a href="Presentation"><li class="nav-link">
        Presentation
      </a></li>
  
    </li></a>  
   
        </ul>
        
      </div>
      

      <div class="d-flex align-items-center">
        <div class="container-fluid">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
          <a type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
        </svg>

      
        
        <a class="link-secondary me-3" href="#">
          
        </a>

        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">  
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
        </svg>
        
      </div>



      
        <div class="dropdown">
       
      
          <a
            class="link-secondary me-3 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
          <span class="badge rounded-pill badge-notification bg-danger">1</span>

            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </div>
        
        <div class="dropdown">
      

          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
         
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
          
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
  </nav>

  {% else %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <img src="https://theatremarni.com/squelettes/img/logo-marni-base.jpg" style="width:10%" alt="logo"><a class="navbar-brand"></a></img>
  
    
  
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
          </li>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> 

         
         
            <a class="nav-link" href="photos">Catalogue</a>
         
           <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  data-mdb-toggle="dropdown" aria-expanded="true">
              Saisons
            </a>
  
           <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">recently</a></li>
              <li><a class="dropdown-item" href="#">En Journée</a></li>
              <li><a class="dropdown-item" href="#">Concerts</a></li>
              <li><a class="dropdown-item" href="#">Dance/Cirque</a></li>
              <li><a class="dropdown-item" href="#">Theatres</a></li>
              <li><a class="dropdown-item" href="#">Enfants</a></li>
              <li><a class="dropdown-item" href="#">Expo</a></li>
              <li><a class="dropdown-item" href="#">Events</a></li>
              <li><a class="dropdown-item" href="#">Intra Muro</a></li>
              <li><a class="dropdown-item" href="#">Touts</a></li>
            </ul>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="photos">Photos</a>
          </li>
           <li class="nav-item">
        <a class="nav-link" href="Presentation">Presentation</a>
      </li>
      
      <a href=""><li class="nav-link">
      
      </li></a>  

     

    
      
  
  
   
        </ul>
      
  
  </div>  
  
  <div class="d-flex align-items-center"">
    
    
    
    
  

      
    



      <a href="login"><button type="button" class="btn btn-outline-secondary px-3 me-2">
      Login</button>
    </a>

    <a href="signup"><button type="button" class="btn btn-outline-secondary px-3 me-2">
      Register</button>
    </a>



  </div>
    </div>
  </div>
</div>
  </nav>
  {% endif %}




</body>